@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #000000be;
}

::-webkit-scrollbar-thumb {
  background: #de2c2c;
}

body {
  overflow-x: hidden;
  background: rgb(0, 0, 0);
  color: white;
}

.hero-bg {
  background: url("/img/home1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-dark-layer {
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
