@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: all .3s ease-in-out;
  font-family: "poppins", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
